<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<!-- Modal -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js" charset="UTF-8"></script>
	<script type="text/x-template"  id="modal-template">
			<!-- 		<transition name="modal"> -->
			<div class="modal-mask" transition="modal">
				<div class="modal-wrapper">
					<div class="modal-container-700px">

						<div class="modal-header">
							<slot name="header">


							</slot>
						</div>
						<div class="modal-body">
							<slot name="body">
								<div class="row">
								
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="text" v-model.trim="thepost" id="fam" class="form-control" name="fam" placeholder="Фамилия" value="">
								
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="text" v-model.trim="thepost" id="name" class="form-control" name="name" placeholder="Имя" value="">
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="text" v-model.trim="thepost" id="lastname" class="form-control" name="lastname" placeholder="Отчество" value="">
								</div>
								</div>
								<div class="row">
								<div class="col-xs-9 col-sm-6 col-md-6">
									<input type="date" v-model="thepost" id="date_birth"  class="form-control" name="date_birth" placeholder="Дата рождения" value="">
								</div>
								<div class="col-xs-9 col-sm-6 col-md-6">
									<input type="text" v-model.trim.number="thepost" id="numberPhone" name="phone" class="form-control" placeholder="Номер телефона" value="">
								</div>
								</div>
								<div class="row">
								<div class="col-xs-18 col-sm-12 col-md-12">
									<link href="https://cdn.jsdelivr.net/jquery.suggestions/17.2/css/suggestions.css" type="text/css" rel="stylesheet" />
									<input type="text" v-model="thepost" id="homeAdres" class="form-control" name="homeadres" placeholder="Домашний адрес">
									<span style='color:red' id='homeadresf'></span>
									<!-- <input type="text" v-model="thepost" id="thepost" class="form-control" name="thepost" placeholder="Домашний адрес" value=""> -->
								</div>
								</div>
								<div class="row">
								<div class="col-xs-6 col-sm-4 col-md-4">
									<input type="text" v-model.trim="thepost" id="thepost" class="form-control" name="thepost" placeholder="Номер удостоверения" value="">
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4">
								<select  name="select_name" v-model="selected" class="form-control">
									<option disabled value="">Льготная категория</option>	
									<option v-for="(item, $index) in items" v-bind:selected="item.value" size="5">
									{item.ThePost}
									</option>
								</select>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4">
								<select  name="select_name" v-model="selected" class="form-control">
									<option disabled value="">ФИО регистратора</option>	
									<option v-for="(item, $index) in items" v-bind:selected="item.value" size="5">
									{item.ThePost}
									</option>
								</select>
								</div>
								</div>
								<div class="row">
								<div class="col-xs-18 col-sm-12 col-md-12">
									<textarea type="text"  v-model="thepost" id="thepost" class="form-control" name="thepost" placeholder="Примечание" value=""></textarea>
								</div>
								</div>
							</slot>
						</div>

						<div class="modal-footer">
							<slot name="footer">
								<button class="btn btn-default" @click="$emit('close') ">
									Закрыть
								</button>
								<button class="btn btn-primary" @click="savePost()">
									Добавить
								</button>
							</slot>
						</div>
					</div>
				</div>
			</div>
			<!-- 		</transition> -->
		</script>
		<div id="app">
			<modal v-if="showModal" @close="showModal = false">
				<h3 slot="header">Добавить запись</h3>
			</modal>
			<button class="btn btn-primary" id="show-modal" @click="showModal = true">Добавить</button>
			<!-- use the modal component, pass in the prop -->
	<!-- 		<modal v-if="showModal" @close="showModal = false">
		    
		      you can use custom content here to overwrite
		      default content -->



		  </div>
		  
	<script type="text/javascript">	

	Vue.component('modal', {
		delimiters: ['{', '}'],
		template: '#modal-template',
		data: function(){
			return {
				thepost: '',
				selected: '',
				items: null
			};
		},
		mounted:function(){
			this.setDefaultItems();
		},
		methods: {
			setDefaultItems: function (){
			this.$http.get('/catalog_thepost_get').then(data =>{
			this.items = JSON.parse(data.body);
			});
			console.log(this.items)
		},			
			savePost: function () {

	      console.log(this.thepost)
	      $.ajax({
	      	url: '/add_the_post',
	      	type: 'post',
	      	data: {
	      		the_post: this.thepost
	      	}
	      }).done(function(val) {
	      		alertify.set({ delay: 10000 });
				alertify.success("Должность успешно добавлена");
	      	console.log(val);
	      	infoUser.setDefaultItems();
	      })

	  }
	}
});

	new Vue({
		el: '#app',
		data: {
			showModal: false
		}
		
	});
	
</script>		  
		  
		  
		  
		  
		  
		  
		  
		  

