		<script type="text/javascript" src="/assets/vuejs/vue2.js" charset="UTF-8"></script>
		<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
		<script src="/assets/js/alertify.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/assets/css/custom/modal_window.css">

		<link rel="stylesheet" href="/assets/css/alertify.core.css" />
		<link rel="stylesheet" href="/assets/css/alertify.bootstrap.css" />

		<ul class="breadcrumb">
			<li><a href="take_to_repair">Главная</a> <span class="divider">/</span></li>
			<li><a href="#">Справочники</a></li>
			<li class="active"> Справочник дожностей</li>
		</ul>


		<!-- template for the modal component -->
		<script type="text/x-template"  id="modal-template">
			<!-- 		<transition name="modal"> -->
			<div class="modal-mask" transition="modal">
				<div class="modal-wrapper">
					<div class="modal-container">

						<div class="modal-header">
							//  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<slot name="header">


							</slot>
						</div>

						<div class="modal-body">
							<slot name="body">
								//default body
								<div class="form-group">
									<label for="fam">Название должности</label>
									<input type="text" v-model="thepost" id="thepost" class="form-control" name="thepost" placeholder="Должность" value="">
								</div>
							</slot>
						</div>

						<div class="modal-footer">
							<slot name="footer">
								// default footer
								<button class="btn btn-primary" @click="savePost()">
									Добавить
								</button>
								<button class="btn btn-primary" @click="$emit('close') ">
									Закрыть
								</button>
							</slot>
						</div>
					</div>
				</div>
			</div>
			<!-- 		</transition> -->
		</script>

		<div id="app">
			<modal v-if="showModal" @close="showModal = false">
				<h3 slot="header">Добавить запись</h3>
			</modal>
			<button class="btn btn-primary" id="show-modal" @click="showModal = true">Добавить должность</button>
			<!-- use the modal component, pass in the prop -->
	<!-- 		<modal v-if="showModal" @close="showModal = false">
		    
		      you can use custom content here to overwrite
		      default content -->



		  </div>



		  <table class="table table-hover" id="tablePatient">									
		  	<thead>
		  		<tr>
		  			<th></th>
		  			<th style="display:none;"></th>
		  			<th style="display:none;"></th>
		  			<th>Должность</th>
		  			<th></th>
		  		</tr>
		  	</thead>
		  	<tbody id="infoUser">
		  		<tr v-for="(item, $index) in items">
		  			<template v-if="item !== edit">		  				
		  				<td style="width: 10px"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
		  				<td style="display:none;" v-on:click="editItem(item, $index, $event)">{item.Id}</td>
	  					<td  v-on:click="editItem(item, $index, $event)">{item.ThePost}</td>
		  				<td style="width: 70%">
		  					<a v-on:click="editItem(item, $index, $event)" href="#" title="редактировать">
		  						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		  					</a>
		  				</td>
		  			</template>

		  			<!--<template v-if="item.status=='edit'">-->
		  			<template v-if="item == edit">
		  				<td style="width: 10px"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
		  				<td style="display:none;"><input disabled="disabled" class="form-control" v-model="edit.Id" maxlength="10"></td>
		  				<td><input  class="form-control" v-model="edit.ThePost" ></td>
		  				<td>
		  					<a v-on:click="successEdit(item, $index, $event)" href="#" title="Применить">
		  						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  					</a>
		  					<a v-on:click="cancelEdit(item, $index, $event)" href="#" title="Отмена">
		  						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		  					</a>
		  					<a v-on:click="deleteEdit(item, $index, $event)" href="#" title="Удалить">
		  						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		  					</a>
		  				</td>
		  			</template>
		  		</tr>
		  	</tbody>
		  </table>
		</div>
	</div>
	<script type="text/javascript">

	// Vue.component('modal', {
	//   template: '#modal-template',
	//   props: ['show'],
	//   methods: {
	//     savePost: function () {
	//       // Insert AJAX call here...
	//       this.show = false;
	//     }
	//   }
	// });

	Vue.component('modal', {
		template: '#modal-template',
		data: function(){
			return {
				thepost: ''
			};
		},
		methods: {
			savePost: function () {
	      // Insert AJAX call here...
	      console.log(this.thepost)
	      $.ajax({
	      	url: '/add_the_post',
	      	type: 'post',
	      	data: {
	      		the_post: this.thepost
	      	}
	      }).done(function(val) {
	      		alertify.set({ delay: 10000 });
				alertify.success("Должность успешно добавлена");
	      	console.log(val);
	      	infoUser.setDefaultItems();
	      })

	  }
	}
});

	new Vue({
		el: '#app',
		data: {
			showModal: false
		}
	});


	var infoUser = new Vue({
		delimiters: ['{', '}'],
		el:'#infoUser',
		data: {
			edit: {},
			editIndex: undefined,
			items: null,
								editIndex: null //Индекс редактируемой записи

							},

							mounted:function(){
								this.setDefaultItems();
							},
							// watch:{
							// 	edit: function(){
							// 		$(".born").maskMoney();
							// 	}
							// },
							methods: {
								setDefaultItems: function (){
									//var items;
									this.$http.get('/catalog_thepost_get').then(data =>{
										this.items = JSON.parse(data.body);
									});
								},
								editItem: function(item, $index, e){
									console.log($index)
									this.editIndex = $index; //Устанавливает индекс редактируемой записи
									this.edit = item;
								},
								successEdit: function (item, $index, e) {
									$.ajax({
										url: '/catalog_thepost_update',
										type: 'post',
										data: {
											id: item.Id,
											the_post: item.ThePost
										}
									}).done(function(val) {
											alertify.set({ delay: 10000 });
											alertify.success("Должность обновлена");
										console.log(val);
									})


										//тут нужно добавить проверку, на ответ сервера.... очень важно!!!!!!!!!! не забивай!!!!
										this.items[this.editIndex] = this.edit
										this.edit = {}
									},

									deleteEdit: function (item, $index, e) {
									var me = this;
									alertify.set({ labels: {
  									  ok     : "Удалить",
  									  cancel : "Отмена"
									} });

									alertify.confirm("Удалить должность: "+item.ThePost+" ?", function (e) {
   									 if (e) {  									 					                
      								  // user clicked "ok"
      								  	$.ajax({
											url: '/catalog_thepost_delete_row',
											type: 'post',
											data: {
												id: item.Id
											}
										}).done(function(val) {
											console.log(this.items);
											me.items.splice(me.editIndex, 1);
											alertify.set({ delay: 10000 });
											alertify.success("Запись удалена");
											console.log(val);
										})
									//тут нужно добавить проверку, на ответ сервера.... очень важно!!!!!!!!!! не забивай!!!!
				                // this.items[this.editIndex] = this.edit
				                // this.edit = {}

				                // this.removeItem(this.items, this.editIndex);
  									  } else {
     							   // user clicked "cancel"
  									  }
									});
		
				            },

				            cancelEdit: function (item, $index, e) {
				            	this.edit = null;
				            },
				            // removeItem: function(items, editItem){
				            // 	this.items.splice(editIndex, 1);
				            // },



				        }
				    });


				</script>
