    <!--<!DOCTYPE html>-->
    <!--<html lang="en">-->
    <!--<head>-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">-->

        <!--&lt;!&ndash; Website CSS style &ndash;&gt;-->
        <!--<link rel="stylesheet" type="text/css" href="assets/css/theme-default.css">-->

        <!--&lt;!&ndash; Website Font style &ndash;&gt;-->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">-->

        <!--&lt;!&ndash; Fonts &ndash;&gt;-->
        <!--<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>-->
        <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->

        <!--<title>Admin</title>-->
    <!--</head>-->
    <!--<body>-->
    <!--<div class="container" >-->
        <!--<div class="row main">-->
            <!--<div class="col-xs-4"></div>-->
             <!--<div class="col-xs-4">-->


            <!--<div class="panel-heading">-->
                <!--<div class="panel-title text-center">-->
                    <!--<h1 class="title">Учет льготных пациентов</h1>-->
                    <!--<hr />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="main-login main-center">-->
                <!--<form class="form-horizontal" method="post" action="#">-->
                    <!--<div class="form-group">-->
                        <!--<label for="username" class="cols-sm-2 control-label">Имя пользователя</label>-->
                        <!--<div class="cols-sm-10">-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>-->
                                <!--<input type="text" class="form-control" name="username" id="username"  placeholder="Введите имя пользователя"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<label for="password" class="cols-sm-2 control-label">Пароль</label>-->
                        <!--<div class="cols-sm-10">-->
                            <!--<div class="input-group">-->
                                <!--<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
                                <!--<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-group ">-->
                        <!--<button type="button" class="btn btn-primary btn-lg btn-block login-button">Войти</button>-->
                    <!--</div>-->
                <!--</form>-->

            <!--</div>-->
                <!--<div class="col-xs-4"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<script type="text/javascript" src="assets/js/bootstrap.js"></script>-->
    <!--</body>-->
    <!--</html>-->

    <link rel="stylesheet" type="text/css" href="/assets/css/custom/add_patient.css">
    <script src="/assets/js/alertify.min.js"></script>
    <link rel="stylesheet" href="/assets/css/alertify.core.css" />
    <link rel="stylesheet" href="/assets/css/alertify.bootstrap.css" />

    <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="assets/css/theme-carbon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <script type="text/x-template" id="modal-template-call">
        <transition name="modal">
            <div class="modal-mask" transition="modal">
                <div class="modal-wrapper">
                    <div class="modal-container-500px">
                        <div class="modal-header">
                            <slot name="header">
                            </slot>
                        </div>
                    <div class="modal-body">
                        <div class="container" style="padding-left: 0px;padding-left: 0px;width: 1450px;">
                                <div class="col-md-4" style="padding-left: 0px;">
                             <div class="form-group">
                                 <label for="username" class="cols-sm-2 control-label">Имя пользователя</label>
                                       <div class="cols-sm-20">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <select v-model="selectedReg" class="form-control"  style="
											padding-top: 0px;
											border-top-width: 1px;
											margin-top: 0px;
											">
                                                            <option disabled value="">Выберите регистратора</option>
                                                            <option v-for="(item, $index) in items" v-bind:value="item.Id">
                                                                {item.Fam} {item.Name} {item.LastName}
                                                            </option>
                                                        </select>
                                          </div>
                                     </div>
                              </div>
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Пароль</label>
                                 <div class="cols-sm-20">
                                     <div class="input-group">
                                       <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" v-model="pwd" class="form-control" style="
											padding-top: 0px;
											border-top-width: 1px;
											margin-top: 0px;
											" name="password" id="password"  placeholder="Введите пароль"/>
                                     </div>
                                 </div>
                            </div>
                                    <div class="form-group ">
                                    <button v-on:click="entrance()" type="submit" class="btn btn-primary  btn-lg btn-block login-button">Войти</button>
                                    </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <div id="demo">
        <modal-call v-if="showModalCall" @close="showModalCall = false">
            <h3 slot="header">Авторизация</h3>
        </modal-call>
    </div>

    <script type="text/javascript" src="/assets/vuejs/vue2.js" charset="UTF-8"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom/login.js" charset="UTF-8"></script>



